/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-color: white;
    -fx-padding: 10px 15px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-background-color: rgba(180,180,180,0.7);
}
.button:hover{
    -fx-background-color: rgba(235,235,235,0.7);
}
.button:focus {
    -fx-font-size: 20px;
    -fx-border-style: dashed;
}